<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436999151575-kbhikikua8rqavkgftu0932da2jug59e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436999151575-kbhikikua8rqavkgftu0932da2jug59e</string>
	<key>API_KEY</key>
	<string>AIzaSyARof-2Cc_t7tnbrCxWBd7jzkGOiFL6Ipg</string>
	<key>GCM_SENDER_ID</key>
	<string>436999151575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.zolza-hairstyles.app</string>
	<key>PROJECT_ID</key>
	<string>zolza-hairstyles</string>
	<key>STORAGE_BUCKET</key>
	<string>zolza-hairstyles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436999151575:ios:aaccc6b5e7690b66c33592</string>
</dict>
</plist>